<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>Concert Compass</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/simplegrid.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/icomoon.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/lightcase.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='js/owl-carousel/owl.carousel.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='js/owl-carousel/owl.theme.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='js/owl-carousel/owl.transitions.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

        <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,900' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
        </head>
        <body id="home">
            <header id="top-header" class="header-home">
                <div class="grid">
                    <div class="col-1-1">
                        <div class="content">
                            <div class="logo-wrap">
                                <a href="#" class="logo">Concert Compass</a>
                            </div>
                            <nav class="navigation">
                                <input type="checkbox" id="nav-button">
                                <label for="nav-button" onclick></label>
                                <ul class="nav-container">
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="#">Contact</a></li>
                                    <li><a href="#">FAQs</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </header>

            <div class="parallax-section parallax1">
                <div class="grid grid-pad">
                    <div class="col-1-1">
                         <div class="content content-header" >
                            <h2>Save your beat, with our festival feast</h2>
                            <a target="_blank" class="btn btn-ghost" href="/login">Try It Out</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- CurveUp -->
            <svg class="curveUpColor" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
                <path d="M0 100 C 20 0 50 0 100 100 Z"></path>
            </svg>

            <!-- Services Section -->
            <div class="wrap services-wrap" id="services">
                <section class="grid grid-pad services">
                    <h2>Our Services</h2>
                    <div class="col-1-4 service-box service-1" >
                        <div class="content">
                            <div class="service-icon">
                                <i class="circle-icon icon-heart4"></i>
                            </div>
                            <div class="service-entry">
                                <h3>Personalized Music</h3>
                                <p>We provide personalized music recommendations to our users based on their music preferences. Our recommendation engine takes into account various factors such as music genres they enjoy, and artists they follow.</p>
                                <a class="btn read-more" href="#0">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-1-4 service-box service-2" >
                        <div class="content">
                            <div class="service-icon">
                                <i class="circle-icon icon-star4"></i>
                            </div>
                            <div class="service-entry">
                                <h3>Concert Discovery</h3>
                                <p>We help users discover new artists and bands performing at music festivals and concerts. We offer recommendations for events that users have already purchased tickets to, allowing them to make the most of their festival experience.</p>
                                <a class="btn read-more" href="#0">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-1-4 service-box service-3">
                        <div class="content">
                            <div class="service-icon">
                                <i class="circle-icon icon-display"></i>
                            </div>
                            <div class="service-entry">
                                <h3>Plugin Integration</h3>
                                <p>Our platform can be integrated as a plugin to music festival apps and existing music streaming platforms like Spotify and Apple Music. This enables us to leverage their large user bases and offer our services to a wider audience.</p>
                                <a class="btn read-more" href="#0">Read More</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-1-4 service-box service-4" >
                        <div class="content">
                            <div class="service-icon">
                                <i class="circle-icon icon-user6"></i>
                            </div>
                            <div class="service-entry">
                                <h3>Seamless User Experience</h3>
                                <p>Our platform offers a seamless user experience, making it easy for users to discover new artists and make informed decisions about which events to attend. We strive to provide a user-friendly interface that is intuitive and easy to use.</p>
                                <a class="btn read-more" href="#0">Read More</a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <br/><br/><br/><br/>
              <!-- Quotes Section -->
            <div class="wrap services-wrap" >
                <section class="grid grid-pad">
                    <div class="col-1-1 service-box cl-client-carousel-container">
                        <div class="content">
                            <div class="cl-client-carousel">
                                
                                <div class="item client-carousel-item"><!-- Start of item -->
                                <div class="quotes-icon">
                                    <i class="icon-quotes-left"></i>
                                </div>
                                <p>I absolutely love ConcertCompass! As someone who enjoys attending music festivals, it's always overwhelming trying to figure out which artists to see. But with this platform, I was able to discover new artists that I never would have known about otherwise. The recommendations were spot on, and I had an amazing time at the festival. I would highly recommend ConcertCompass to anyone who loves music!</p>
                                <h4>-Patricia Noj</h4>
                                </div><!-- End of item -->
                                
                                <div class="item client-carousel-item"><!-- Start of item -->
                                <div class="quotes-icon">
                                    <i class="icon-quotes-left"></i>
                                </div>
                                <p>I think ConcertCompass has great potential, especially if it can be integrated with other music streaming platforms. As someone who primarily uses Spotify to discover new music, it would be great to have a plugin that can suggest artists playing at upcoming festivals based on my listening history. I look forward to seeing how the platform evolves in the future</p>
                                <h4>-Bharadwaj Allu</h4>
                                </div><!-- End of item -->
                                <div class="item client-carousel-item"><!-- Start of item -->
                                <div class="quotes-icon">
                                    <i class="icon-quotes-left"></i>
                                </div>
                                <p>Great job on creating ConcertCompass! Your platform provides a unique and valuable service to music festival-goers by helping them discover new artists that align with their music preferences. It's impressive that your recommendation engine takes into account a user's music preferences to suggest the most similar artists performing at the event.</p>
                                <h4>-Diane Woodbridge</h4>
                                </div><!-- End of item -->
                                
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <!-- End Quotes Section -->

             <!-- CurveDown -->
            <svg class="curveDownColor" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
                <path d="M0 0 C 50 100 80 100 100 0 Z"></path>
            </svg>

            <!-- Blog Section -->
            <div class="wrap blog-grid grey" id="blog">
                <div class="grid grid-pad">
                    <div class="content" >
                        <h2>Upcoming concerts</h2>
                        <div class="col-1-2" >
                            <article class="post-wrap">
                                <div class="post-img">
                                    <a href="#0"><img src="images/post/post-n1.jpg" alt=""></a>
                                </div>
                                <div class="post">
                                    <h2 class="entry-title"><a href="#0">Drawing hour</a></h2>
                                    <div class="post-meta">
                                        <a href="#0">15 Januar, 2015</a> <span class="mid-sep">·</span> <a href="#0">Graphic Design</a>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, sequi, quas, assumenda harum nam reiciendis obcaecati maxime <a href="#0">suscipit</a> quibusdam.
                                    </p>
                                    <a class="btn read-more" href="#0">Read More</a>
                                </div>
                            </article>
                        </div>
                        <div class="col-1-2" >
                            <article class="post-wrap">
                                <div class="post-img">
                                    <a href="#0"><img src="images/post/post-n2.jpg" alt=""></a>
                                </div>
                                <div class="post">
                                    <h2 class="entry-title"><a href="#0">Photography workshop</a></h2>
                                    <div class="post-meta">
                                        <a href="#0">2 Februar, 2014</a> <span class="mid-sep">·</span> <a href="#0">Photography</a>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, sequi, quas, assumenda harum nam reiciendis obcaecati maxime <a href="#0">suscipit</a> quibusdam.
                                    </p>
                                    <a class="btn read-more" href="#0">Read More</a>
                                </div>
                            </article>
                        </div>
                        <div class="col-1-2" >
                            <article class="post-wrap">
                                <div class="post-img">
                                    <a href="#0"><img src="images/post/post-n3.jpg" alt=""></a>
                                </div>
                                <div class="post">
                                    <h2 class="entry-title"><a href="#0">On vacation</a></h2>
                                    <div class="post-meta">
                                        <a href="#0">26 March, 2014</a> <span class="mid-sep">·</span> <a href="#0">Graphic Design</a>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, sequi, quas, assumenda harum nam reiciendis obcaecati maxime <a href="#0">suscipit</a> quibusdam.
                                    </p>
                                    <a class="btn read-more" href="#0">Read More</a>
                                </div>
                            </article>
                        </div>
                        <div class="col-1-2" >
                            <article class="post-wrap">
                                <div class="post-img">
                                    <a href="#0"><img src="images/post/post-n4.jpg" alt=""></a>
                                </div>
                                <div class="post">
                                    <h2 class="entry-title"><a href="#0">You have to take breaks</a></h2>
                                    <div class="post-meta">
                                        <a href="#0">19 June, 2014</a> <span class="mid-sep">·</span> <a href="#0">Graphic Design</a>
                                    </div>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla, sequi, quas, assumenda harum nam reiciendis obcaecati maxime <a href="#0">suscipit</a> quibusdam.
                                    </p>
                                    <a class="btn read-more" href="#0">Read More</a>
                                </div>
                            </article>
                        </div>
                        <div class="col-1-1"><a class="btn" href="#0">View All</a></div>
                    </div>
                </div>
            </div>

            <!-- CurveUp -->
            <svg class="curveUpColor" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
                <path d="M0 100 C 20 0 50 0 100 100 Z"></path>
            </svg>
            
            <!-- Pricing Section -->
            
                <!-- CurveUp -->
                <svg class="curveUpColor curveGrey" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
                    <path d="M0 100 C 20 0 50 0 100 100 Z"></path>
                </svg>
                
                <!-- Parallax Section -->
                <div class="map">                    
                    <div class="wrap">
                        <section id="cd-google-map">
                            <div id="google-container"></div>
                            <div id="cd-zoom-in"></div>
                            <div id="cd-zoom-out"></div>
                        </section>
                    </div>
                </div>
                <!-- End Parallax Section -->

                <!-- Contact Section -->
                <div class="wrap contact" id="contact">
                    <div class="grid grid-pad" >
                        <h2>Contact</h2>
                        <div class="col-1-2" >
                            <div class="content address">
                                <h3>Talk to us</h3>
                                <p>If you have any questions or feedback regarding ConcertCompass, we would love to hear from you! We are always looking to improve our platform and provide the best experience possible for our users. Please feel free to reach out to us through our website or social media channels. We appreciate your support and look forward to hearing from you.</p>
                                <address>
                                    <div>
                                        <div class="box-icon">
                                            <i class="icon-location"></i>
                                        </div>
                                        <span>Address:</span>
                                        <p>101 Howard St, San Francisco, CA 94105</p>
                                    </div>
                                    
                                    <div>
                                        <div class="box-icon">
                                            <i class="icon-clock"></i>
                                        </div>
                                        <span>Work Time:</span>
                                        <p>Monday - Friday from 9am to 5pm</p>
                                    </div>
                                    
                                    <div>
                                        <div class="box-icon">
                                            <i class="icon-phone"></i>
                                        </div>
                                        <span>Phone:</span>
                                        <p>+1 (415) 969-0404</p>
                                    </div>                                  
                                </address>
                            </div>
                        </div>
                         <div class="col-1-2 pleft-25" >
                            <div class="content contact-form">
                                <form class="form">
                                    <input type="text" class="comment-name" placeholder="Name*" required>
                                    <input type="email" class="comment-email" placeholder="Email*" required>
                                    <input type="text" class="comment-subject" placeholder="Subject">
                                    <textarea class="required comment-text" placeholder="Message..." required></textarea>
                                    <input type="submit" value="Send Message" class="btn submit comment-submit">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Contact Section -->

                <!-- CurveDown -->
                <svg class="curveDownColor" xmlns="http://www.w3.org/2000/svg" version="1.1" width="100%" height="100" viewBox="0 0 100 100" preserveAspectRatio="none">
                    <path d="M0 0 C 50 100 80 100 100 0 Z"></path>
                </svg>

                <!-- Footer -->
                <footer class="wrap">
                    <div class="grid grid-pad" >
                        <div class="col-1-4">
                            <div class="content">
                                <div class="footer-widget">
                                    <h3>About</h3>
                                    <div class="textwidget">
                                        <p>Our platform, ConcertCompass, recommends similar artists for music festival-goers based on their music preferences, adding value to users who have bought tickets to entire events. We aim to integrate with music festival apps and streaming platforms to reach a wider audience.</p><br>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-1-4" >
                            <div class="content">
                                <div class="footer-widget">
                                    <h3>Key Features</h3>
                                    <div class="fwidget">
                                        <ul>
                                            <li><a href="#0">Discover new artists at festivals</a></li>
                                            <li><a href="#0">Personalized recommendations</a></li>
                                            <li><a href="#0">Integrates with music apps</a></li>
                                            <li><a href="#0">Analyze listening habits</a></li>
                                            <li><a href="#0">Enhances festival experience</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-1-4" >
                            <div class="content">
                                <div class="footer-widget">
                                    <h3>More info</h3>
                                    <div class="textwidget">
                                        <p>Our team comprises experts in data science, software engineering, and backend development. </p> <br/>
                                        <p>Together, we are dedicated to delivering an innovative recommendations to enhance the music experience.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-1-4" >
                            <div class="content">
                                <div class="footer-widget">
                                    <h3>Concert Feed</h3>
                                    <div class="textwidget">
                                        <p>Explore the lineup, and receive personalized recommendations for similar artists. You can also save events and artists to your favorites list and receive notifications about upcoming performances. </p> <br/>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="social-footer">
                        <div class="grid grid-pad">
                            <div class="col-1-1" >
                                <div class="content">
                                    <div class="social-set">
                                        <a  href="#0"><i class="icon-facebook"></i></a>
                                        <a  href="#0"><i class="icon-twitter"></i></a>
                                        <a  href="#0"><i class="icon-linkedin2"></i></a>
                                        <a  href="#0"><i class="icon-dribbble4"></i></a>
                                        <a  href="#0"><i class="icon-instagram"></i></a>
                                    </div>
                                    <p class="source-org copyright">© 2023 | All Rights Reserved to ConcertCompass </a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
                <!-- End Footer -->

                <!-- <div class="loader-overlay">
                    <div class="loader">
                        <div class="bar"></div>
                        <div class="bar"></div>
                        <div class="bar"></div>
                        <div class="bar"></div>
                        <div class="bar"></div>
                    </div>
                </div> -->

                <!-- JS -->
                <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
                <script src="{{ url_for('static', filename='js/main.js') }}"></script>
                <script src="{{ url_for('static', filename='js/mixitup.js') }}"></script>
                <script src="{{ url_for('static', filename='js/smoothscroll.js') }}"></script>
                <script src="{{ url_for('static', filename='js/jquery.nav.js') }}"></script>
                <script src="{{ url_for('static', filename='js/owl-carousel/owl.carousel.min.js') }}"></script>
                <script src="https://maps.googleapis.com/maps/api/js"></script>
                <script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
                <script src="{{ url_for('static', filename='js/jquery.counterup.min.js') }}"></script>
                <script src="{{ url_for('static', filename='js/lightcase.min.js') }}"></script>
            </body>
        </html>